.label {
  color: #1f1f1f;
  display: block;
  font-size: 1rem;
  line-height: 18px;
  margin-bottom: 5px;
}

.input {
  outline: none;
  width: 100%;
  padding: 8px 12px;
  font-size: 1rem;
  line-height: 20px;
  border: 1px solid #bdbdbd;
  border-radius: 2px;
}

.btn {
  cursor: pointer;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 500;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 6px 15px;
  text-align: center;
  transition: background-color 250ms ease-out 0s, box-shadow 250ms ease-out 0s, color 250ms ease-out 0s;
}

.btn--orange {
  background-color: #efbb85;
}

.btn--red {
  background-color: #eaa695;
}

.btn--blue {
  background-color: #34bcdc;
}

.btn--purple {
  background-color: #a9a3ca;
}

.btn--green {
  background-color: #93c877;
}

.textarea {
  border: 1px solid #bdbdbd;
  border-radius: 2px;
  width: 100%;
  padding: 8px 12px;
  height: 75px;
  font-size: 1rem;
  line-height: 20px;
  outline: none;
  resize: none;
  overflow: auto;
  outline: none;
}

.select {
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 1px;
  outline: none;
  height: 30px;
  width: 100%;
  padding: 5px 5px;
  font-size: .9rem;
}
