@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

::-webkit-scrollbar {
  display: none;
}

.background-red {
  background-color: #DD7155;
}

.background-blue {
  background-color: #1D8CA6;
}

.background-purple {
  background-color: #7C73AE;
}

.background-green {
  background-color: #6AAC46;
}

.background-orange {
  background-color: #E69541;
}

.border-red {
  border: #DD7155 2px solid !important;
}

.border-blue {
  border: #1D8CA6 2px solid !important;
}

.border-purple {
  border: #7C73AE 2px solid !important;
}

.border-green {
  border: #6AAC46 2px solid !important;
}

.border-orange {
  border: #E69541 2px solid !important;
}
