// !General Styles
// *Colour-Levels
$primary-colour: #FFDDD2;
$secondary-colour: #E29578;
// *Backgrounds
$body-background: #E7D8C9;
$ctr-background: #F1E9E1;
// *Borders
$border-design: "1px solid rgb(0, 0, 0, 0.1)";
$border-main: "1px solid rgb(225, 230, 232)";
// *Default Colours
$link-general-hover-background: #F1E9E1;

// !Font Colors
$font-color-primary: rgb(198,204,210);
$font-color-secondary: rgb(152, 158, 163); // font for the aside

$font-color-aside: rgb(216, 216, 216);
$font-color-aside-dark: rgb(198,204,210);


// !Links
$links-font-color: rgb(55, 53, 47);
$links-hover-background-color: rgb(248,244,240);

// ! Form Colors
$btn-background-color: rgb(236, 236, 0);


// ! APP COLORS
$semantic-primary: #1D8CA6;
$semantic-secondary: #7C73AE;
$semantic-tertiary: #6AAC46;
$semantic-quaternary: #E69541;
$semantic-quintinary: #DD7155;

// ! Backgrounds
$background-aside: #161B25;
$background-aside--hover: #1f2735;
$background-main: #f5f5f5;
$background-main--blur: rgba(245,245,245,0.5);

// ! Borders
$aside-dividers: #293245;

// ! Fonts
$aside-icons: rgb(116,123,133);
$aside-text: #9dacb6;