@import "colors.scss";

// @ Top Bar Container
.top-bar {
    // grid son
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    // grid father
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
    justify-items: flex-start;
    row-gap: 0px;
    // box modeling
    padding: 1vh 2vw 0 2vw;
    box-shadow: 0 1px 4px 0 rgba(21, 27, 38, 0.08);
    &__title-ctr {
        // grid son
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        // flex box
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, max-content);
        justify-content: flex-start;
        align-items: center;
        column-gap: 5px;
        p {
            // grid son
            grid-row: 1 / 2;
            // box modeling
            padding: 0;
            margin: 0;
            // font modeling
            font-size: 1.25rem;
        }
        svg {
            // grid son
            grid-row: 1 / 2;
        }
        #prjBtnFav {
            // special properties
            cursor: pointer;
            // font modeling
            fill: #fcbd01;
        }
        &__prj-status {
            // grid son
            grid-row: 1 / 2;
            // grid father
            display: grid;
            grid-template-columns: repeat(2, max-content);
            grid-template-rows: 1fr;
            justify-content: center;
            align-items: center;
            column-gap: 5px;
            // box modeling
            margin-left: 10px;
            &__color {
                // grid son
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                // box modeling
                height: 10px;
                width: 10px;
                border-radius: 50%;
            }
            &__text {
                // grid son
                grid-column: 2 / 3;
                grid-row: 1 / 2;
                // font
                font-size: 1rem !important;
            }
        }
    }
    &__info-actions-ctr {
        // grid son
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        // flex box
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-end;
        svg {
            display: none;
        }
    }
    &:hover &__info-actions-ctr svg {
        display: block;
        cursor: pointer;
    }
    &__tabs-ctr {
        // grid son
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        // grid father
        display: grid;
        grid-template-rows: 1fr;
        justify-content: flex-start;
        align-items: flex-end;
        column-gap: 15px;
        // box modeling
        height: 100%;
        width: 100%;
        // special properties
        overflow: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        &__tab {
            // grid son
            grid-row: 1 / 2;
            // flex box
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            p {
                font-size: 1rem;
                margin: 0;
                cursor: pointer;
            }
        }
        .tab-link {
            // default colors
            p {
                color: #{$tab-link};
                border-bottom: #{$background-main} 2px solid;
            }
            // project given colors
            &--red:hover {
                p {
                    border-bottom: #{$semantic-quintinary} 2px solid;
                    color: #{$semantic-quintinary};
                }
            }
            &--blue:hover {
                p {
                    border-bottom: #{$semantic-primary} 2px solid;
                    color: #{$semantic-primary};
                }
            }
            &--purple:hover {
                p {
                    border-bottom: #{$semantic-secondary} 2px solid;
                    color: #{$semantic-secondary};
                }
            }
            &--green:hover {
                p {
                    border-bottom: #{$semantic-tertiary} 2px solid;
                    color: #{$semantic-tertiary};
                }
            }
            &--orange:hover {
                p {
                    border-bottom: #{$semantic-quaternary}  2px solid;
                    color: #{$semantic-quaternary};
                }
            }
        }
    }
}

// * Main Container

// alertMax Container
.alertMax {
    // grid son
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    // flex-box
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    // box modeling
    position: relative;
    // special properties
    backdrop-filter: blur(1.10px);
    background-color: #{$background-alertMax--blur};
    &__ctr {
        border: #{$border-main};
        // borders
        border-radius: 3px;
        // box modeling
        padding: 5px 10px 10px 10px;
        background-color: #{$background-main};
        position: relative;
        // grid father
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
    &__info {
        // box modeling
        width: 100%;
        // flex box
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        // border
        border-bottom: #{$semantic-primary} 3px solid;
        p {
            font-size: 1.5rem;
            margin: 0;
        }
        svg {
            cursor: pointer;
        }
    }
    &__form {
        // grid father
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px;
        row-gap: 10px;
        &__input {
            // grid father
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            row-gap: 5px;
            label {
                font-size: 1.1rem;
            }
        }
        &__input--description {
            // grid father
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            row-gap: 5px;
            // grid son
            grid-column: 1 / 3;
            label {
                font-size: 1.25rem;
            }
        }
        &__buttons {
            // grid son
            grid-column: 1 / 3;
        }
    }
}
// alertMin Container
.alertMin {
    // grid son
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    // flex-box
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    // box modeling
    position: relative;
    backdrop-filter: blur(1.5px);
    &__ctr {
        // borders
        border: black 2px solid;
        border-radius: 3px;
        // box modeling
        padding: 5px 10px 10px 10px;
        background-color: #{$background-main};
        position: relative;
        // grid father
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
    &__info {
        // box modeling
        width: 100%;
        // flex box
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        p {
            font-size: 1.5rem;
            margin: 0;
        }
        svg {
            cursor: pointer;
        }
        &--orange {
            border-bottom: #{$semantic-quaternary} 5px solid;
        }
        &--purple {
            border-bottom: #{$semantic-secondary} 5px solid;
        }
        &--red {
            border-bottom: #{$semantic-quintinary} 5px solid;
        }
        &--green {
            border-bottom: #{$semantic-tertiary} 5px solid;
        }
        &--blue {
            border-bottom: #{$semantic-primary} 5px solid;
        }
    }
    &__form {
        // grid father
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px;
        row-gap: 10px;
        &__input {
            // grid father
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            row-gap: 5px;
            label {
                font-size: 1.1rem;
            }
        }
        &__input--description {
            // grid father
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            row-gap: 5px;
            // grid son
            grid-column: 1 / 3;
            label {
                font-size: 1.25rem;
            }
        }
        &__buttons {
            // grid son
            grid-column: 1 / 3;
        }
    }
}
.menu-section {
    // grid son
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    // grid father
    display: grid;
    grid-template-columns: 1fr 30%;
    grid-template-rows: repeat(3, max-content);
    justify-content: center;
    align-content: flex-start;
    &__random-quote {
        // grid son
        grid-row:  1 / 2;
        grid-column: 2 / 3;
        // flex box
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        // borders
        border-bottom: #{$border-main};
        border-top: #{$border-main};
        p {
            padding: 20px 10px;
            font-style: italic;
        }
    }
    &__prjs-stats {
        // grid son
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        // grid father
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-content: center;
        row-gap: 20px;
        column-gap: 20px;
        // box modeling
        padding-top: 20px;
        &__prj {
            // grid father
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, max-content);
            justify-content: center;
            justify-items: center;
            align-content: center;
            align-items: center;
            row-gap: 5px;
            //box modeling
            padding: 5px;
            box-shadow: 0 1px 4px 0 rgba(21, 27, 38, 0.07);
            &__name {
                p {
                    font-size: 1rem;
                    text-align: center;
                }
            }
            &__data {
                min-width: 90px;
                min-height: 90px;
                padding: 10px;
                // flex box
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-content: center;
                align-items: center;
                // border
                border-radius: 50%;
                p {
                    font-size: 1.75rem;
                }
            }
        }
    }
    &__content {}
    &__stats {}
}

// ! Overview Container

.prj-overview {
    // grid son
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    // grid father
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content;
    justify-content: flex-start;
    row-gap: 1vh;
    column-gap: 1vw;
    .tabs-stat {
        // grid son
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        // grid father
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-auto-columns: max-content;
        justify-content: flex-start;
        &__hrds {
            // grid son
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            // grid father
            display: grid;
            grid-template-columns: 1fr auto 24px;
            grid-template-rows: 1fr;
            column-gap: 10px;
            align-items: center;
            // border
            border-bottom: #{$border-main};
            // box modeling
            padding: 0 5px;
            &__ctr-hdr {
                // grid son
                grid-row: 1 / 2;
                grid-column: 1 / 2;
                p {
                    font-size: 1.1rem; // ! font-size
                }
            }
            &__type-hdr {
                // grid son
                grid-row: 1 / 2;
                grid-column: 2 / 3;
                // grid father
                display: grid;
                grid-template-columns: repeat(3, 90px);
                grid-template-rows: 1fr;
                align-content: center;
                &__type {
                    // grid son
                    grid-row: 1 / 2;
                    p {
                        text-align: center;
                        font-size: 1.1rem; // ! font-size
                        margin: 0;
                    }
                }
            }
            &__actions {
                // grid son
                grid-column: 3 / 4;
                grid-row: 1 / 2;
                // flexbox
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-content: center;
                svg {
                    cursor: pointer;
                }
            }
        }
        &__ctr {
            // grid son
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            // grid father
            display: grid;
            grid-template-columns: 1fr;
            align-content: flex-start;
            row-gap: 10px;
            // box modeling
            padding: 0 5px;
            padding-top: 5px;
            &__tab {
                // grid son
                grid-column: 1 / 2;
                // grid father
                display: grid;
                grid-template-columns: 1fr auto 26px;
                justify-content: center;
                align-content: center;
                column-gap: 10px;
                &:hover {
                    p {
                        color: #{$semantic-quaternary};
                    }
                    svg {
                        display: block;
                    }
                }
                &__hdr-ctr {
                    // grid son
                    grid-column: 1 / 2;
                    grid-row: 1 / 2;
                    // grid father
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr;
                    align-content: center;
                    &__hdr {
                        // grid son
                        grid-column: 1 / 2;
                        grid-row: 1 / 2;
                        p {
                            font-size: 1rem; // ! font-size
                            margin: 0;
                        }
                    }
                }
                &__types {
                    // grid son
                    grid-column: 2 / 3;
                    grid-row: 1 / 2;
                    // grid father
                    display: grid;
                    grid-template-columns: repeat(3, 90px);
                    grid-template-rows: 1fr;
                    align-content: center;
                    &__type {
                        // grid son
                        grid-row: 1 / 2;
                        p {
                            font-size: 1rem; // ! font-size
                            margin: 0;
                            text-align: center;
                        }
                    }
                }
                &__actions {
                    // grid son
                    grid-column: 3 / 4;
                    grid-row: 1 / 2;
                    // flexbox
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-content: center;
                    svg {
                        display: none;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

// ! Tab Container

.Goals-Tasks-Reminders-Ctr {
    // grid son
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    // grid father
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 3vh;
    column-gap: 4vw;
}
// ? Goals
.goals {
    // grid son
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    // grid father
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30px 1fr;
    &__info {
        // grid son
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        // flex box
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        p {
            margin: 0;
            padding: 0 1px;
            font-size: 1.25rem;
        }
    }
    &__actions {
        // grid son
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        // flex box
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        svg {
            margin-left: 10px;
            cursor: pointer;
        }
    }
    &__ctr {
        border-top: #{$border-main};
        padding: 10px;
        // grid son
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        // grid father
        display: grid;
        grid-template-columns: 1fr;
        align-content: flex-start;
        row-gap: 5px;
        .goal {
            // grid father
            display: grid;
            grid-template-columns: auto 1fr auto;
            grid-template-rows: 1fr;
            column-gap: 5px;
            // box modeling
            width: 100%;
            p {
                padding: 0;
                margin: 0;
            }
            &__actions-complete {
                // grid son
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                // flex box
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-content: center;
                svg {
                    cursor: pointer;
                }
            }
            &__actions-delete {
                // grid son
                grid-column: 3 / 4;
                grid-row: 1 / 2;
                // flex box
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-content: center;
                svg {
                    display: none;
                    cursor: pointer;
                }
            }
            &:hover .goal__actions-delete svg {
                display: block;
            }
        }
    }
}

// ? Tasks
.tasks {
    // grid son
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    // grid father
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30px 1fr;
    &__info {
        // grid son
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        // flex box
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        p {
            margin: 0;
            padding: 0 1px;
            font-size: 1.25rem;
        }
    }
    &__actions {
        // grid son
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        // flex box
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        svg {
            cursor: pointer;
        }
    }
    &__ctr {
        // grid son
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        // grid father
        display: grid;
        grid-template-columns: 1fr;
        align-content: flex-start;
        row-gap: 10px;
        //box modeling
        padding: 10px;
        border-top: #{$border-main};
        .task {
            // grid father
            display: grid;
            grid-template-columns: 6px 1fr;
            box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.04);
            border-radius: 5px;
            &__bar {
                height: 100%;
                width: 100%;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
            &__ctr {
                // grid son
                grid-column: 2 / 3;
                grid-row: 1 / 2;
                // grid father
                display: grid;
                grid-template-columns: 1fr auto;
                grid-template-rows: auto;
                row-gap: 10px;
                column-gap: 10px;
                // box modeling
                padding: 10px;
                height: 100%;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                background-color: #{$task-background};
            }
            &__title {
                // grid son
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                // box modeling
                margin: 0;
                // font
                font-size: 1.15rem;
            }
            &__dueDate {
                // grid son
                grid-column: 1 / 2;
                grid-row: 2 / 3;
                // box modeling
                padding: 0;
                margin: 0;
                // font
                font-size: 1rem;
            }
            &__description {
                // grid son
                grid-column: 1 / 4;
                grid-row: 3 / 4;
                // box modeling
                margin: 0;
                padding: 0;
                // font
                font-size: 0.9rem;
            }
            &__actions {
                // grid son
                grid-column: 2 / 3;
                grid-row: 1 / 2;
                // grid father
                display: none;
                justify-content: flex-end;
                align-items: center;
                align-content: center;
                grid-template-rows: 1fr;
                column-gap: 5px;
                &-delete {
                    // grid son
                    grid-row: 1 / 2;
                    // flex box
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-content: center;
                    svg {
                        // special properties
                        cursor: pointer;
                    }
                }
                &-complete {
                    // grid son
                    grid-row: 1 / 2;
                    // flex box
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-content: center;
                    svg {
                        // special properties
                        cursor: pointer;
                    }
                }

            }
            &:hover .task__actions {
                display: grid;
            }
        }
    }
}

// ? Reminders
.reminders {
    // grid son
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    // grid father
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30px 1fr;
    &__info {
        // grid son
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        // flex box
        display: flex;
        justify-content: flex-start;
        align-items: center;
        p {
            margin: 0;
            padding: 0 1px;
            font-size: 1.25rem;
        }
    }
    &__actions {
        // grid son
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        // flex box
        display: flex;
        justify-content: flex-end;
        align-items: center;
        svg {
            cursor: pointer;
        }
    }
    &__ctr {
        // grid son
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        // grid father
        display: grid;
        grid-template-columns: 1fr;
        justify-content: flex-start;
        align-content: flex-start;
        row-gap: 10px;
        // box modeling
        border-top: #{$border-main};
        padding: 10px;
        .reminder {
            // grid son
            grid-column: 1 / 2;
            grid-row: auto;
            // grid father
            display: grid;
            grid-template-columns: 15px 5px 1fr auto;
            grid-template-rows: 1fr auto;
            column-gap: 5px;
            &__status {
                // grid son
                grid-column: 2 / 3;
                grid-row: 1 / 3;
                // box modeling
                height: 100%;
                width: 100%;
                border-radius: 2px;
                &--overdue {
                    background-color: #{$reminder-overDue};
                }
                &--onTime {
                    background-color: #{$reminder-onTime};
                }
            }
            &__title {
                // grid son
                grid-column: 3 / 4;
                grid-row: 1 / 2;
                // box moding
                padding: 0;
                margin: 0;
                // font
                font-size: 1rem;
            }
            &__dueDate {
                // grid son
                grid-column: 3 / 4;
                grid-row: 2 / 3;
                // box moding
                padding: 0;
                margin: 0;
                // font
                font-size: 0.8rem;
            }
            &__actions-complete {
                // grid son
                grid-column: 1 / 2;
                grid-row: 1 / 3;
                // flex box
                display: grid;
                justify-content: center;
                align-content: center;
                svg {
                    cursor: pointer;
                }
            }
            &:hover .reminder__actions-delete {
                display: grid;
            }
            &__actions-delete {
                // grid son
                grid-column: 4 / 5;
                grid-row: 1 / 3;
                // grid father
                display: none;
                grid-template-rows: 1fr;
                align-items: center;
                justify-content: center;
                svg {
                    // grid son
                    grid-row: 1 / 2;
                    // special properties
                    cursor: pointer;
                }
            }
        }
    }
}
