@import "colors.scss";
.label {
    color: rgb(31, 31, 31);
    display: block;
    font-size: 1rem;
    line-height: 18px;
    margin-bottom: 5px;
}
.input {
    // special properties
    outline: none;
    // box modeling
    width: 100%;
    padding: 8px 12px;
    // font
    font-size: 1rem;
    line-height: 20px;
    // border
    border: 1px solid rgb(189, 189, 189);
    border-radius: 2px;
}
.btn {
    // // box modeling
    // padding: 5px 10px;
    // // special properties
    cursor: pointer;
    // font
    font-size: 1rem;
    line-height: 24px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    // border
    border: none;
    border-radius: 3px;
    // box modeling
    padding: 6px 15px;
    text-align: center;
    transition: background-color 250ms ease-out 0s, box-shadow 250ms ease-out 0s, color 250ms ease-out 0s;

    &--orange {
        background-color: #{$semantic-quaternary-btn};
    }
    &--red {
        background-color: #{$semantic-quintinary-btn};
    }
    &--blue {
        background-color: #{$semantic-primary-btn};
    }
    &--purple {
        background-color: #{$semantic-secondary-btn};
    }
    &--green {
        background-color: #{$semantic-tertiary-btn};
    }
    
}
.textarea {
    // border
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 1px;
    // box modeling
    height: 75px;
    width: 100%;
    padding: 5px 5px;
    // font
    font-size: 1rem;
    // special properties
    outline: none;
    resize: none;
    overflow: auto;
}
.select {
    // border
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 1px;
    // properties
    outline: none;
    // box modeling
    height: 30px;
    width: 100%;
    padding: 5px 5px;
    // font
    font-size: .9rem;
}