@import "colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
::-webkit-scrollbar {
    display: none;
}

// ! Generic Colors
// background
.background-red {
    background-color: #{$semantic-quintinary};
}
.background-blue {
    background-color: #{$semantic-primary};
}
.background-purple {
    background-color: #{$semantic-secondary};
}
.background-green {
    background-color: #{$semantic-tertiary};
}
.background-orange {
    background-color: #{$semantic-quaternary};
}
// boders
.border-red {
    border: #{$semantic-quintinary} 2px solid !important;
}
.border-blue {
    border: #{$semantic-primary} 2px solid !important;
}
.border-purple {
    border: #{$semantic-secondary} 2px solid !important;
}
.border-green {
    border: #{$semantic-tertiary} 2px solid !important;
}
.border-orange {
    border: #{$semantic-quaternary} 2px solid !important;
}