@import "colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 400;
}

body {
    // grid
    display: grid;
    grid-template-columns: 20vw 80vw;
    // box modeling
    height: 100vh;
    padding: 10px;
}

// !ASIDE
aside {
    background-color: #{$background-color-primary};
    border-radius: 6px;
    // grid son (from body)
    grid-column: 1 / 1;
    //grid father
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 90%;
    justify-items: center;
}
.aside-logo {
    width: 100%;
    // grid son
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    // flexbox
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    img {
        width: 70%;
    }
}
.projects-container {
    // grid son
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    // grid father
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    // box modeling
    width: 100%;
    padding-top: 10px;
    &__project {
        // flex box
        display: flex;
        justify-content: flex-start;
        align-items: center;
        // box modeling
        padding: 0 10px;
        margin-bottom: 10px;
        width: 100%;
        p {
            font-size: 1.15rem;
            color: #{$font-color-aside};
        }
    }
}

// !MAIN
main {
    // grid son (from body)
    grid-column: 2 / 3;
    background-color: #{$background-color-secondary};
    // grid father
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5vh 1fr;
    row-gap: 3vh;
    column-gap: 4vw;
    // box modeling
    padding: 10px;

}
.main-container {
    padding: 0 10px;
    // grid son
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    // grid father
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 3vh;
    column-gap: 4vw;
}
.project-info {
    // grid son
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    // flex-box
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    &__info-container {
        // flex box
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        p {
            // box modeling
            padding: 0;
            margin: 0;
            font-size: 1.5rem;
        }
    }
    &__actions-container {
        // grids
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        i {
            font-size: 1.25rem;
        }
    }
}
.goals {
    // grid son
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    // grid father
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30px 1fr;
    &__info {
        // grid son
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        // flex box
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        p {
            margin: 0;
            padding: 0;
            font-size: 1.25rem;
        }
    }
    &__actions {
        // grid son
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        // box modeling
        padding: 0 10px;
        // flex box
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        i {
            font-size: 1rem;
            margin-left: 10px;
        }
    }
    &__container {
        border-top: #{$border-design};
        padding: 10px;
        // grid son
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        // flex box
        display: flex;
        flex-flow: column nowrap;
        .goal {
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
            margin-bottom: 10px;
            i {
                margin-right: 5px;
            }
            p {
                padding: 0;
                margin: 0;
            }
        }
    }
}
.tasks {
    // grid son
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    // grid father
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30px 1fr;
    &__info {
        // grid son
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        // flex box
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        p {
            margin: 0;
            padding: 0;
            font-size: 1.25rem;
        }
    }
    &__actions {
        // grid son
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        // box modeling
        padding: 0 10px;
        // flex box
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        i {
            font-size: 1rem;
            margin-left: 10px;
        }
    }
    &__container {
        // grid son
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        // flex box
        display: flex;
        flex-flow: column nowrap;
        //box modeling
        padding: 10px;
        border-top: #{$border-design};
        .task {
            // box modeling
            background-color: #{$background-color-tertiary};
            border-radius: 5px;
            border: indigo 2px solid;
            // grid father
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            row-gap: 10px;
            column-gap: 10px;
            // box modeling
            padding: 10px;
            margin-bottom: 10px;
            &:hover .task__actions {
                display: flex;
            }
            &__title {
                // grid son
                grid-column: 1 / 3;
                grid-row: 1 / 2;
                // box modeling
                margin: 0;
                // font
                font-size: 1.15rem;
            }
            &__dueDate {
                // grid son
                grid-column: 1 / 2;
                grid-row: 2 / 3;
                // box modeling
                padding: 0;
                margin: 0;
                // font
                font-size: 1rem;
            }
            &__description {
                // grid son
                grid-column: 1 / 4;
                grid-row: 3 / 4;
                // box modeling
                margin: 0;
                padding: 0;
                // font
                font-size: .9rem;
            }
            &__actions {
                // grid son
                grid-column: 3 / 4;
                grid-row: 1 / 2;
                // flex
                display: none;
                flex-flow: row nowrap;
                justify-content: flex-end;
                align-items: center;
                i {
                    margin-left: 10px;
                }
            }
        }
    }
}
.reminders {
    // grid son
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    // grid father
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30px 1fr;
    &__info {
        // grid son
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        // flex box
        display: flex;
        justify-content: flex-start;
        align-items: center;
        p {
            margin: 0;
            padding: 0;
            font-size: 1.25rem;
        }
    }
    &__actions {
        // grid son
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        // box modeling
        padding: 0 10px;
        // flex box
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__container {
        // grid son
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        // box modeling
        border-top: #{$border-design};
        padding: 10px;
        .reminders {
            // grid father
            display: grid;
            grid-template-columns: 10% 90%;
            grid-template-rows: 1fr .2fr;
            &__icon {
                // grid son
                grid-column: 1 / 2;
                grid-row: 1 / 2;
                // flex box
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
            }
            &__title {
                // grid son
                grid-column: 2 / 3;
                grid-row: 1 / 2;
                // box moding
                padding: 0;
                margin: 0;
                // font
                font-size: 1rem;
            }
            &__dueDate {
                // grid son
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                // box moding
                padding: 0;
                margin: 0;
                // font
                font-size: .8rem;
            }
        }
    }
}